<%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :bio %>
    <%= f.input :born_on %>
    <%= f.input :bmi %>
    <%= f.input :ymca_name %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
