<%= form_for(@profile, :as => :user, :url => profile_path(@profile)) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_area :bio %>
  </div>
  <div class="field">
    <%= f.label :bmi %><br />
    <%= f.text_field :bmi %>
  </div>
  <div class="field">
    <%= f.label :born_on %><br />
    <%= f.date_select :born_on %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
